# 1. Map

In [2]:
orase = ["Milano", "Bucuresti", "Barcelona", "Londra", "Madrid", "Viena", "Cluj"]

In [3]:
lungime_orase = [ len(i) for i in orase ]
lungime_orase

[6, 9, 9, 6, 6, 5, 4]

In [4]:
def functie_de_mapare(x):
    return len(x)

In [6]:
list(map( functie_de_mapare , orase))

[6, 9, 9, 6, 6, 5, 4]

In [7]:
list(map( len , orase))

[6, 9, 9, 6, 6, 5, 4]

Ex: Boltz : dacă numărul este multiplu de 7 sau contine 7 se inlocuieste cu "boltz"

In [10]:
lista_numere = list(range(100))
print(lista_numere)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [11]:
def mapeaza_boltz(numar):
    if numar % 7 == 0 or "7" in str(numar):
        return "boltz"
    return numar

In [15]:
print(list(map(mapeaza_boltz, range(1,100))))

[1, 2, 3, 4, 5, 6, 'boltz', 8, 9, 10, 11, 12, 13, 'boltz', 15, 16, 'boltz', 18, 19, 20, 'boltz', 22, 23, 24, 25, 26, 'boltz', 'boltz', 29, 30, 31, 32, 33, 34, 'boltz', 36, 'boltz', 38, 39, 40, 41, 'boltz', 43, 44, 45, 46, 'boltz', 48, 'boltz', 50, 51, 52, 53, 54, 55, 'boltz', 'boltz', 58, 59, 60, 61, 62, 'boltz', 64, 65, 66, 'boltz', 68, 69, 'boltz', 'boltz', 'boltz', 'boltz', 'boltz', 'boltz', 'boltz', 'boltz', 'boltz', 'boltz', 80, 81, 82, 83, 'boltz', 85, 86, 'boltz', 88, 89, 90, 'boltz', 92, 93, 94, 95, 96, 'boltz', 'boltz', 99]

# 2. Filter

In [16]:
orase = ["Milano", "Bucuresti", "Barcelona", "Londra", "Madrid", "Viena", "Cluj"]

In [17]:
# Functia de filtrare trebuie sa intoarca True (daca ramane) sau False (daca il elimina)
def filtreaza_orasul_cu_b(oras:str):
    return oras.startswith("B")

In [19]:
list(filter(filtreaza_orasul_cu_b, orase))

['Bucuresti', 'Barcelona']

In [20]:
def este_lungimea_mai_mica_decat_6(oras:str):
    return len(oras) < 6

In [ ]:
list(filter(este_lungimea_mai_mica_decat_6, orase))

['Viena', 'Cluj']

In [22]:
list(filter(lambda x: x.endswith("a"), orase))

['Barcelona', 'Londra', 'Viena']

# 3. Reduce

In [23]:
from functools import reduce

In [24]:
lista = [2, 3, 4, 5]

In [25]:
def suma_numerelor(x, y):
    print("x=", x, "y=", y)
    return x + y

In [26]:
reduce(suma_numerelor, lista)

x= 2 y= 3
x= 5 y= 4
x= 9 y= 5

14

In [27]:
def concatenare(x, y):
    print("x=", x, "y=", y)
    return str(x) + str(y)

In [28]:
reduce(concatenare, lista)

x= 2 y= 3
x= 23 y= 4
x= 234 y= 5

'2345'

In [29]:
reduce(lambda x, y: str(x)+str(y), lista)

'2345'

In [31]:
lista = [2, 3, 4, 5]
reduce(lambda x, y: x if x > y else y, lista)

5